* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // outline: 1px solid red;
}

html {
  overflow-y: scroll;
}

.navbar-brand {
  color: blue;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.crypto-logo {
  width: 80px;
  height: 80px;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}
